
*{
    margin: 0;
    padding: 0;
}
/* PEE BUSINESS LAW DESCK */

/*.programas .container, .eventos .container, .rankings .container, .internacionalizacion .container, .conexion .container{
    max-width: 1140px !important;
}*/

/*img{
    display: initial;
}*/



header{
    height: 700px;
}

header .container-fluid{
    padding: 0;
}

.header-web .lado-derecho{
    height: 700px;
}

header .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
} 

/* PEE BUSINESS LAW COLOR BURBUJAS */

.item-negocio .lado-izquierdo{
    background: linear-gradient(90deg, rgb(90 0 34) 38%, rgba(120,44,63,1) 75%);
    z-index: 1;
    height: 700px;

}

.item-negocio .lado-derecho{
    background: url('../img/kv-pee-dl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 7;
    background-position: center;
}

.item-negocio .circulo {
    width: 573px;
    height: 573px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    
}

.item-negocio .circulo-1{
    z-index: 2;
    top: 48px;
    left: 460px;
    /*background: linear-gradient(135deg, rgba(37,33,34,0) 45%, rgba(255,255,255,0.2) 100%);*/
    background: linear-gradient(127.28deg, rgba(255, 255, 255, 0.08) 2.7%, rgba(255, 255, 255, 0) 44.67%);
    transform: rotate(-7.52deg);
}

.item-negocio .circulo-2{
    z-index: 4;
    top: 342px;
    left: 83px;
    background: linear-gradient(127.28deg, rgba(255, 255, 255, 0.08) 2.7%, rgba(255, 255, 255, 0) 44.67%);
    transform: rotate(45deg);
    
}

.item-negocio .fondo-texto{
    background: linear-gradient(90deg, #5F0023 0%, #4E001D 100%);
border-radius: 0px 80px 80px 0px !important;
    z-index: 3;
    width: 64%;
    top: 46px;
    border-top-right-radius: 170px;
    border-bottom-right-radius: 170px;
    height: 123px;
    left: 0;
}





/* PEE BUSINESS LAW HEADER INFO */




.item-negocio .logo-bl{
    z-index: 10;
    color: white;
    top: 69px;
    left: 200px;
    padding-right: 20px;
}

.circulo, .fondo-texto, .logo-bl{
    position: absolute;
}


.curso-programa{
    font-size: 40px !important;
}
.descrip{
    font-size: 19px;
    max-width: 469px;
    top: 320px !important;

}

.btn{
    position:relative;
    display:block;
    color:white !important;
    font-size: 14px;
  
    text-decoration: none;
    margin: 30px 0;
    padding: 15px 50px;
    overflow: hidden;
    transition: 3s all ease;
  }
  .btn1{
    border: 1px solid #FFFFFF !important;
  }
  .btn::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  .btn1::before{
    background: #4E001D;
    width:0;
    height: 100%;
  }
  .btn1:hover::before{
    width: 100%;
  }


.vector{
    width: 5px;
    height: 13px;
}



.item-negocio .texto{
    z-index: 10;
    color: white;
    top: 203px;
    left: 200px;
    padding-right: 20px;
}







/* PEE BUSINESS LAW MOBILE */





.circulo, .fondo-texto, .texto{
    position: absolute;
}

@media(max-width: 1390px){

    .item-negocio .circulo-1{
        left: -550px;
    }
    
    .item-negocio .circulo-2{
        left: -650px;
    }

}

@media(max-width: 1360px){
    .item-prestigio .texto, .item-excelencia .texto, .item-internacionalizacion .texto, .item-negocio .texto, .item-noticia .texto {
        left: 100px;
    }
}

@media(min-width: 950px) and (max-width: 1100px){
    header h1 {
        font-size: 40px;
    }
}

@media(min-width: 768px) and (max-width: 949px){
    header h1 {
        font-size: 30px;
    }

    header .texto-pilar{
        font-size: 20px;
    }
}

@media(max-width: 920px){
    .header-web .texto{
        left: 80px;
        top: 300px;
    }
}

.header-mobile{
    height: 600px;
}

.header-mobile .item-negocio{
    background: linear-gradient(46.75deg, rgba(121,39,60,0.8995973389355743) 100%, rgba(34,5,12,0.5158438375350141) 100%), url('../img/kv-pee-dl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

@media (min-width: 768px){
    .header-mobile{
        display: none;
    }
}

@media (max-width: 767px){
    .header-web{
        display: none;
    }

    .header-mobile .texto{
        top: 220px;
        left: 80px;
        padding-right: 40px;
        text-align: left;
    }

    .carousel-indicators{
        top: 500px;
    }
}

@media(max-width: 500px){
    header h1 {
        font-size: 40px;
    }

    .header-mobile .texto{
        left: 45px;
    }
}


/* PEE BUSINESS LAW INFO BOX */

.info-box{
    background-color: #231f20;
    height: 213px;
}

.fecha{
    height: 213px;
    padding-left: 45px;
    padding-top: 66px;
}

.modalidad{
    height: 213px;
  
}

.date-box{
    background-color: #231f20;
    height: 213px;
    margin-left: 185px !important;
}

.inicio{
    color: #767676;
    margin-bottom: 9px !important;
    font-weight: bold;
    font-size: 18px;
}
.mes{
    color: #FFFFFF;
    font-size: 34px;
}
.modalidad-{
    color: #767676;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px !important;
    
}
.modalidad-tex{
    color: #767676;
    font-size: 36px;
    font-weight: lighter;
}

.content-modalidad{
    padding-left: 45px;
    padding-top: 27px;
    border-left: 0.5px solid #767676;
    height: 134px;
    margin-top: 42px;
   
}

.mod-icon{
    padding-left: 19px;
    border-radius: 100px;
    background-color: #393536;
    width: 84px;
    height: 84px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 18px !important;
}


/* PEE BUSINESS LAW CONTACT BOX */

.horario{
    height: 213px;
    background-color: #782c3f;
    padding-left: 26px !important;
    padding-top: 41px;
}

.inversion{
    height: 213px;
    background-color: #904054;
    padding-left: 26px !important;
    padding-top: 41px;
}

.inversion-{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.valor{
    color: #FFFFFF;
    font-size: 16px;
    font-weight:lighter;

}

.monto{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;

}

.btn-fin{
    color: #FFFFFF;
    font-size: 16px;
    font-weight:bold;
}

.horario-{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.mes{
    font-size: 24px;
    font-weight:300;
    margin-bottom: 3px;
}
.semana{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: lighter;
}


/* PEE BUSINESS LAW CONTACT BOX */


.contacto{
    background-color: #5F0023;
    height: 135px;
}
.cel-box{
    background-color: #6c1130;
    width: 185.27;
    height: 52px;
}
.cel-content{

}
.tel-box{

}